@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{
    padding: 0;
    margin: 0;
}

.containerAll{
    width: 100vw;
    height: calc(100vh);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}
.containerDados{
    width: 40vw;
    height: 40vh;
    border: 1px solid #ccc;
}

#result{
    color: green;
}

/* Input Diaria */
.insertDados{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}
    .insertDados p{
        font-family: 'Oswald';
        font-size: 25px;
        color: #3F3F3F;
        margin-bottom: 10px;
    }
    .insertDados input{
        width: 350px;
        height: 40px;
        background: #DFDFDF;
        border-radius: 30px;
        border: none;
        outline: 0px;
        text-align: center;
        font-family: 'Oswald';
    }
    .insertDados button{
        background: #1A87EC;
        border-radius: 14px;
        border: none;
        color: #fff;
        width: 100px;
        height: 30px;
        margin-top: 30px;
        cursor: pointer;
    }

/* Apresenta Dados */

.ContainerapresentaDados{
    display: block;
    margin: 50px auto;
    width: 70%;
    height: 180px;
}
.ContainerapresentaDados p{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}   

.containerResult{
    width: 100%;
    height: auto;
    background-color: #ccc;
    text-align: center;
}
.marginTop{
    margin-top: 30px;
}

/* grafico Pie */
.graficoDiaria{
    display: flex;
    justify-content: center;
    align-items: center;
}
.infoDiaria p{
    font-family: 'Oswald';
    margin-left: 30px;
}

/* Calcula Folgas */

.containerDatas{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.containerDatas label{
    font-family: 'Oswald';
    font-size: 25px;
    color: #3F3F3F;
    margin-top: 30px;
}
.up{
    margin-top: 30px;
}

#zerarMarginTop{
    margin-top: -100px;
}